html,
body,
main {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Default Style */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media(max-width: 475px) {
    main {
        background-color: red;
    }
}

@media (min-width: 476px) and (max-width: 768px) {
    main {
        font-size: 16px;
        background-color: green;
        color: yellow;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    main {
        font-size: 18px;
        background-color: orange;
        color: navy;
    }
}

@media (min-width: 1025px) {
    main {
        font-size: 20px;
        background-color: black;
        color: white;
    }

}